.bannerWrapper{
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid black;
}

.titleWrapper{
  border: 1px solid black;
  padding: 30px;
  display: flex;
  align-items: center;
  max-width: 900px;

  margin-bottom: 50px;
}

.titleWrapper h1{
  font-size: 50px;
  line-height: 80px;

}

.bannerWrapper a{
  border: 1px solid black;
  padding: 20px 50px;

  text-decoration: none;
  font-size: 30px;
  color: black;
}

.bannerWrapper a:hover{
  color: white;
  background-color: black;
}
